---
env:
  browser: true
  es6: true
  node: true
extends:
  - plugin:flowtype/recommended
  - eslint:recommended
globals:
  process: true
parser: babel-eslint
parserOptions:
  ecmaVersion: 2017
  sourceType: module
  ecmaFeatures:
    modules: true
plugins:
  - flowtype
  - import
rules:
  camelcase:
    - error
    - properties: never
  comma-dangle:
    - error
    - never
  flowtype/define-flow-type: 1
  flowtype/use-flow-type: 1
  import/no-duplicates: 2
  indent:
    - error
    - 2
    - SwitchCase: 1
  keyword-spacing:
    - error
    - before: true
      after: true
  linebreak-style:
    - error
    - unix
  max-len:
    - error
    - 120
  no-cond-assign:
    - error
    - except-parens
  no-duplicate-imports: 0
  no-var: error
  object-curly-spacing:
    - error
    - always
  quotes:
    - error
    - single
  quote-props:
    - error
    - as-needed
  semi:
    - error
    - never
  space-before-function-paren:
    - error
    - anonymous: never
      named: never
      asyncArrow: always
  space-in-parens:
    - error
    - never
  strict:
    - error
    - never
